version: '3.9'

services:
  postgres:
    image: postgres
    ports:
      - '5432:5432'
    env_file:
      - .env
    volumes:
      - 'postgres:/var/lib/postgresql/data'
  backend:
    build: .
    depends_on:
      - postgres
    env_file:
      - .env
    ports:
      - '3000:3000'
    volumes:
      - ./backend:/usr/src/app

volumes:
  postgres:
